@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap&subset=latin-ext');
body {
  color: $primary;
  font: 14px/2em 'Roboto Slab', serif;
}

// reset headers
h1,
h2,
h3,
h4,
p {
  margin: 0;
  color: #ccc;
}

.wrapper {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}